body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  border: 2px solid black;
}

.main {
  display: flex;
  justify-content: center;
  flex: 5;
  border: 2px solid red;
}

.container {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 500px;
  border: 2px solid green;
}

.container .screen {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 950;
  font-size: 50px;
  border: 2px solid orangered;
}

.container .input {
  height: 50px;
  border: 2px solid red;
}

.buttonsContainer {
  display: flex;
  flex: 1;
  border: 2px solid black;
}

.buttonsContainer .leftSide,
.buttonsContainer .rightSide {
  gap: 5px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.buttonsContainer .leftSide {
  border: 2px solid black;
}

.buttonsContainer .rightSide {
  border: 2px solid blue;
}

.operatorClicked {
  background-color: red;
}

.number {
  background-color: blue;

}

.row {
  display: flex;
  flex: 1;
  gap: 5px;
}

.rowLeft {
  flex-direction: row-reverse;
}

.block {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  border-radius: 15%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: arial,sans-serif;
  color: #70757a;
  padding: 15px;
  border: 2px solid blue;
}
