body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  border: 2px solid black;
}

.main {
  display: flex;
  justify-content: center;
  flex: 5;
  border: 2px solid red;
}

.container {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 600px;
  border: 2px solid green;
}

.container .screen {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 950;
  font-size: 50px;
  border: 2px solid orangered;
}

.container .input {
  height: 50px;
  border: 2px solid red;
}

.buttonsContainer {
  display: flex;
  flex: 1;
  border: 2px solid black;
}

.buttonsContainer .leftSide,
.buttonsContainer .rightSide {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.buttonsContainer .leftSide {
  border: 2px solid black;
}

.buttonsContainer .rightSide {
  border: 2px solid blue;
}

.operatorClicked {
  background-color: red;
}

.row {
  display: flex;
  flex: 1;
  border: 2px solid blueviolet;
}

.block {
  border: 1px solid black;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

.footer {
  border: 2px solid blue;
}
